body {
	font-family: Helvetica, Arial, sans-serif;
}

#errorMsg,#message {
	margin-bottom: 5px;
}

#errorMsg ul,#message ul {
	margin: 0;
	padding: 0;
	border: 2px solid black;
	color: white;
	font-weight: bold;
}

#errorMsg ul {
	background-color: red;
}

#warnMessage ul {
	background-color: yellow;
}

#errorMsg  ul li,#message ul li {
	padding: 2px;
}

#message ul {
	background-color: blue;
}

#message ul li {
	list-style-type: none;
	margin: 0;
}

/* centraliza paginacao*/
#pagination {
	margin-top: 5px;
	text-align: center;
	width: 100%;	
}

#pagination a:link,#pagination a:visited {
	color: black;
}

#pagination a:hover {
	color: orange;
}

#pagination small {
	font-size: 100%;
	color: gray;
}